html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  pading: 0;
}

body {
  background: black;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  position: relative;
  margin: 20px;
}

.wall,
.paddle,
.ball {
  position: absolute;
  background: white;
}

.ball {
  border-radius: 100%;
}

.hud {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.controls button {
  background: black;
  border: 1px solid white;
  color: white;
  padding: 5px;
  margin: 0 5px;
  text-transform: uppercase;
}
